.image-container {
  @apply relative  
  w-full max-w-[100vw] max-h-[100vh]
  flex justify-center self-end md:self-auto
  overflow-x-hidden md:overflow-x-visible;
}

.image-background {
  @apply absolute 
  bg-[#FFE0C8] blur-[106px] 
  rounded-2xl 
  w-full h-full md:h-5/6 md:w-5/6
  bottom-28 md:bottom-10 md:right-16;
}

.image {
  @apply relative 
  sm:max-w-[665px] base:max-w-[990px] base:w-full
  sm:left-4 base:left-12
  flex items-end;
}

.image img {
  @apply relative 
  h-full w-[118%] max-w-none sm:max-w-full md:max-h-full
  object-contain
  sm:left-4;
  mask-image: linear-gradient(95deg, black 75%, transparent);

  @media (min-width: 680px) {
    right: 30px;
    left: 0;
  }
  @media (min-width: 769px) {
    right: 0;
  }
}
