.books-page-header__wrapper {
    @apply flex justify-between items-center h-[84px] py-[18px];
}

.back-to-profile {
    font-size: 20px !important;
    padding: 0 !important;
    font-weight: 600 !important;
    & svg {
        margin: 0 !important;
    }
}

.button-edit {
    @apply text-grey-1000;
    font-weight: 600 !important;
}

.button-confirm {
    background-color: green !important;
}

.button-cancel {
    font-weight: 600 !important;
}