.profile-wrapper {
@apply bg-white flex flex-col items-center laptop_md:flex-row laptop_md:items-start align-top justify-between gap-5 w-full pt-[78px] 
laptop_md:pt-[169px] laptop_md:pl-[80px] laptop_md:pr-[72px]  
h-[100vh] relative overflow-y-auto overflow-hidden;

}

.view-block-wrapper {
    @apply w-full laptop_md:w-2/3 max-w-[1200px];
  
}

.view-block-container {
    @apply flex flex-col items-center min-h-screen; 
    background: url('../../assets/WEBP/backgroundPosts.webp') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    
}

.buttons-block {
    @apply flex bg-white sticky top-[-12px] md:top-[8px] laptop:top-0 w-full z-20;
    
    @media (min-width: 1681px) {
        &::before {
            content: '';
            position: fixed;
            top: 130px;
            width: 50%;
            height: 50px;
            background-color: inherit;
        
        } 
    }
    @media (min-width: 1921px) {
        &::before {
            content: '';
            position: fixed;
            top: 130px;
            width: 50%;
            height: 50px;
            background-color: inherit;
        
        } 
    }
    
    }
    
    .button-posts {
        @apply bg-[#FFC368] text-white rounded-none rounded-t-sm z-20;
    }
    