.user-post {
  @apply flex flex-col min-w-[320px] max-w-[960px] md:min-w-[700px] base:min-w-[776px] m-auto my-4 p-5 bg-[#FCFCFC] rounded-lg border border-[#C4C4C4] 
  py-2-xs md:py-2-lg laptop:py-2-lg gap-4 px-1-xs md:px-2-lg laptop:px-5-xl;
  &__activity-icons {
    @apply flex gap-5;
  }
}

.menu {
  @apply flex flex-col items-start gap-2-md p-2-xs z-10 right-0;
  & > button {
    @apply bg-inherit outline-none;
  }
}

.button-more {
  @apply bg-inherit outline-none;
}

.popup {
  @apply absolute right-0 top-7 base:top-9 block laptop_md:right-0 md:-bottom-[98px] bg-none w-[220px] h-[108px] z-10;
  &__body {
    @apply w-full h-full bg-[#FAFAFA] rounded-lg border-grey-1010 overflow-hidden;
    box-shadow: 0px 4px 20px 0px rgba(124, 124, 124, 0.52);
  }
}
