.toast {
  @apply w-full  bg-[#fafafa] max-h-[108px] rounded-md px-4-xl pr-0 md:py-1-xs md:pl-3-xs laptop:py-0 laptop:px-2-xs laptop:pr-1-xs flex items-center justify-between overflow-hidden;

  &__user {
    @apply flex items-center gap-1-sm mb-0-md md:mb-0 md:p-1-xs laptop:p-2-xs;

    & > img {
      @apply rounded-md;
    }
  }

  &__message {
    @apply text-sm font-bold md:text-lg bg-transparent md:p-1-xs laptop:p-2-xs;
  }
}

.user {
  &__text {
    @apply text-sm font-semibold md:text-base flex flex-col gap-0-sm;
  }

  &__nickname {
    @apply text-xs;
  }
}

.wrapper {
  @apply md:flex md:items-center  md:justify-between md:grow;
}

.button {
  @apply outline-none bg-red px-2-xs py-5-xs flex md:py-5-xs md:px-3-xs base:bg-transparent items-center invisible transition-all duration-300 translate-x-full base:translate-x-0 base:scale-0 base:opacity-0;

  &.is-shown {
    @apply visible translate-x-0 base:opacity-100 base:scale-100;
  }

  &__icon {
    @apply stroke-[#6C6C6C] w-[32px] h-[32px];
  }
}
