
.book-form-wrapper {
  @apply flex flex-col w-full h-full items-center gap-[2px] mt-[2px];
   text-shadow: black 0.3px 0.2px 0.3px;
   overflow: hidden;
     &__textarea {
      &-title, &-author, &-annotation {
        @apply overflow-auto resize-none outline-none caret-inherit bg-[#ffffff42]
        left-[1px] text-[0.5em] p-[1px] max-w-[100%] w-full font-normal;
        text-shadow: black 0.3px 0.2px 0.3px;
        &::-webkit-scrollbar {
          width: 1px;
        }
        &::-webkit-scrollbar-track {
          background: inherit;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #555;
          max-height: 2px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
        &::placeholder {
          @apply text-grey-1000;
         }
      }

       &-title {
        @apply text-[0.8em] text-center h-1/6 leading-none;
       }

       &-author {
        @apply  text-[0.6em] text-center h-1/6 leading-normal;
       }

       &-annotation {
        @apply text-[0.5em] h-4/6 leading-tight indent-[1px];
       }
     } 
}