html {
  @apply text-lg;
}

body {
  @apply bg-grey-1030 text-base leading-[1.2];
}

* {
  @apply font-raleway font-semibold m-0 p-0 box-border;
}

button {
  @apply border-transparent;
}

ul,
ol {
  @apply list-none;
}

#wrapper {
  @apply overflow-hidden max-w-full w-full min-h-screen flex flex-col;
}

a:not([class]) {
  @apply text-blue no-underline cursor-pointer;

  &:hover {
    @apply underline;
  }
}
