.nav-active {
  overflow: hidden;
}

.profile-layout {
  @apply bg-white flex flex-col flex-1 w-full;

  &__body {
    @apply w-full px-2-md mx-auto laptop_md:max-w-[94%];
  }

  > main {
    @apply relative flex-1 z-[1] laptop:pl-[260px] laptop_md:pl-[310px];
  }
}

.cyrillic {
  @apply font-montserrat;
  & input {
    @apply font-montserrat;

    &::placeholder {
      @apply font-poppins;
    }
  }
}
