.form {
  &__content-wrapper {
    @apply w-full flex gap-0-sm md:gap-1-md;
  }

  &__image {
    & > img {
      @apply w-[26px] h-[24px] md:w-[48px] md:h-[44px] rounded-[25px];
    }
  }

  &__comments-form-wrapper {
    @apply w-full;
  }

  &__field {
    @apply mb-0-md md:mb-1-md;

    & p {
      @apply h-[72px] md:h-[132px];
    }
  }

  &__button {
    @apply w-full max-w-[90px] max-h-[50px] md:max-w-[150px];
  }
}
