.add-book-modal {
    &__body {
        @apply flex  flex-col max-w-[670px] max-h-[600px] h-fit w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-[40%] bg-[#FDFDFD] px-[40px] py-[20px] rounded-2xl gap-2 z-50;
    }
    &__backdrop {
        @apply fixed top-0 left-0 w-full h-full bg-white backdrop-blur-sm bg-[#1c1c1c33];
    }
    &__wrapper {
        @apply flex w-full text-center;
    }
    &__close-button {
        @apply relative w-[32px] h-[32px];
    }
    &__header {
        @apply flex justify-between items-center mb-5;
    }

}

.form-conteiner {
    @apply flex flex-col w-full gap-2 justify-around;
    &__wrapper {
        @apply flex mb-[40px] justify-between;
    }
    &__add-book-image {
        @apply flex w-5/12 border-grey-1000 border-[1px] rounded-[5px] justify-center items-center;
    }
    &__book-text {
        @apply flex flex-col w-7/12 h-full justify-center pl-5;
    }
    &__buttons {
        @apply flex justify-center gap-10;
    }
}
