.stdropdown-container {
  @apply rounded-lg border border-grey-1000 relative bg-inherit text-left;
}

// .stdropdown-menu::-webkit-scrollbar {
//   width: 2px;
// }

// .stdropdown-menu::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// .stdropdown-menu::-webkit-scrollbar-thumb {
//   background: #888;
// }

// .stdropdown-menu::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

.stdropdown-input {
  @apply flex items-center justify-center w-full h-[40px] laptop:h-[48px];

  & input {
    @apply h-full w-full text-sm p-[6px] bg-inherit border-none border-0 outline-none;
  }

  user-select: none;
}

.stdropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 99;
}

.stdropdown-item {
  padding: 5px;
  cursor: pointer;
}

.stdropdown-item:hover {
  background-color: rgba(159, 195, 248, 0.4392156863);
}

.stdropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.stdropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.stdropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.stdropdown-tag-close {
  display: flex;
  align-items: center;
}

.stsearch-box {
  padding: 5px;
  background-color: transparent;
}
