.navigation-list {
  &__item {
    &:not(:last-child) {
      @apply mb-[4px] laptop_md:mb-1;
    }
  }

  &__link {
    @apply w-full inline-flex items-center py-1-lg px-2-md text-black font-semibold text-base tracking-[0.36px] rounded-[8px] transition duration-300 ease-in-out base:hover:bg-primary base:hover:text-white laptop_md:text-[20px] laptop_md:p-4;
  }

  &__link.current-page {
    @apply bg-primary text-white;
  }

  &__link.current-page &__link-icon path {
    @apply fill-white;
  }

  &__link-icon {
    @apply mr-4 w-[28px] laptop_md:mr-[24px] laptop_md:w-[32px];
  }

  &__button {
    @apply bg-transparent;
  }
}
