.block-error {
  @apply min-h-screen pt-[12vh] md:pt-[8vh]  lg:pt-[108px]  bg-[#FFC78A] text-[#F9F9F9];

  &__container {
    @apply w-full mx-auto flex flex-col flex-1 justify-center items-center;
  }

  &__thumb {
    @apply max-w-[974px] min-w-[220px]  w-[100vw] laptop_md:w-[50vw] lg:w-screen;

    @media screen and (min-width: 600px) and (min-height: 300px) and (max-height: 399px) {
      max-width: 220px;
    }
    @media screen and (min-width: 600px) and (min-height: 400px) and (max-height: 499px) {
      max-width: 290px;
    }

    @media screen and (min-width: 600px) and (min-height: 500px) and (max-height: 599px) {
      max-width: 390px;
    }

    @media screen and (min-width: 1024px) and (min-height: 600px) and (max-height: 699px) {
      max-width: 480px;
    }

    @media screen and (min-width: 1024px) and (min-height: 700px) and (max-height: 799px) {
      max-width: 600px;
    }
    @media screen and (min-width: 1024px) and (min-height: 800px) and (max-height: 899px) {
      max-width: 650px;
    }

    @media screen and (min-width: 1024px) and (min-height: 900px) and (max-height: 1079px) {
      max-width: 850px;
    }
  }

  &__image {
    @apply object-contain w-full h-auto;

    mask-image: linear-gradient(98deg, black 80%, transparent);
  }

  &__content {
    @apply relative top-[-12px] lg:top-[-74px] max-w-full text-center;
  }

  &__wrapper {
    @apply px-2-sm mb-4-xs  laptop:mb-[62px] text-center;
  }

  &__heading {
    @apply mb-2-xs laptop:mb-[16px] text-xl laptop:text-h1_lg font-medium;
  }

  &__text {
    @apply font-light w-full max-w-[280px]  laptop:max-w-full text-sm  laptop:text-lg;
  }

  &__button {
    @apply w-full laptop:max-w-[316px];

    &.error__btn {
      @apply laptop:text-xxl;
    }
  }
}
