.create-post {
  &__backdrop {
    @apply top-0 left-0 bg-[#1c1c1c99] overflow-y-auto w-full h-full fixed;

    &--page {
      @apply fixed bg-white md:bg-[#1c1c1c99] items-start md:items-center;
    }

    &--profile {
      @apply px-2-md items-start pt-4-xs pb-4-xs;
    }
  }
  &__body {
    @apply relative bg-white rounded-md w-full px-2-md py-4-xs md:max-w-[674px];

    &--page {
      @apply translate-y-[10%] ml-auto mr-auto base:mr-[5%] laptop:mr-[20%];
    }

    &--profile {
      @apply mx-auto;
    }
  }
  &__header {
    @apply flex items-start justify-between pb-5-xs;

    &-content {
      @apply flex items-center gap-1-xs;
      & > img {
        @apply rounded-[52px];
      }
    }
    & > button {
      @apply bg-transparent;
    }
  }
}
