.wrapper {
  @apply relative;
}

.mic {
  @apply text-[#F79400] bg-transparent  transition-all duration-150 relative;

  &.active {
    @apply bg-red text-white rounded-[50px] w-[24px] h-[24px];
    &::before {
      content: "";
      @apply block rounded-[50px] absolute w-[24px] h-[24px] -top-[2px] -left-[2px] bg-blue;

      animation: pulsate infinite 1.5s;
    }
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}
