.feed-comments {
  &__text-wrapper {
    @apply flex justify-between mb-1-md md:mb-2-md;
  }

  &__button {
    @apply bg-transparent text-xs md:text-lg laptop:text-xxl text-[#6C6C6C];

    &.is-show {
      @apply font-semibold text-black;
    }

    &-toggler {
      @apply text-[#6C6C6C];
    }
  }

  &__content-wrapper {
    @apply overflow-hidden;
  }

  &__form-wrapper {
    @apply pt-1-xs md:pt-2-xs;
  }

  &-enter {
    @apply -translate-y-1/2 opacity-0;

    &-active {
      @apply translate-y-0 opacity-100 transition-all duration-300;
    }
  }

  &-exit {
    @apply translate-y-0 opacity-100;

    &-active {
      @apply -translate-y-1/2 opacity-0 transition-all duration-300;
    }
  }
}
