.modal-window {
  &__backdrop {
    @apply bg-transparent top-0 left-0 w-full h-screen fixed;
  }

  &__body {
    @apply bg-white h-screen md:h-[358px] w-full md:max-w-[640px] laptop:max-w-[1166px] laptop:h-[458px] md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:rounded-sm;

    &-content {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center px-[80px] md:px-[100px] laptop:px-[124px];
    }
  }

  &-enter {
    @apply translate-x-[-100%] md:translate-x-0 md:opacity-0 md:scale-0;

    &-active {
      @apply translate-x-0 md:opacity-100 md:scale-100 transition duration-200;
    }
  }

  &-exit {
    @apply translate-x-0  md:scale-100;

    &-active {
      @apply translate-x-[-100%] md:translate-x-0  md:scale-0 transition duration-200;
    }
  }
}

.icon-button {
  @apply bg-transparent absolute  top-[20px] md:top-[40px] z-50;

  &-back {
    @apply md:hidden left-[20px];
  }

  &-cross {
    @apply hidden md:inline-block right-[40px];
  }
}
